[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
duckdb = "*"
pandas = "*"
polars = "*"
altair = "*"
vega-datasets = "*"
vegafusion = {extras = ["embed"], version = "*"}
datashader = "*"
geopandas = "*"
matplotlib = "*"
colorcet = "*"
dask = {extras = ["dataframe"], version = "*"}
zstandard = "*"
geodatasets = "*"

[dev-packages]

[requires]
python_version = "3.12"
